---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<Header />
<h1>Oops! Page Not Found</h1>
<p>Looks like this page doesn't exist. Try visiting <a href="/">home</a>.</p>
<Footer />
