---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<Header />
<h1>About Me</h1>
<p>Hello! I’m a passionate baker creating fresh, homemade treats.</p>
<Footer />
