---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>About Me</h1>
  <p>Hi, I'm [Your Name]! I have a passion for baking and love creating delicious treats for everyone to enjoy.</p>
  <!-- <img src="/images/baker.jpg" alt="Baker" style="width: 100%; max-width: 400px; border-radius: 10px;"> -->
</Layout>
