---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Photo Gallery</h1>
  <div class="gallery">
    <img src="/images/cake1.png" alt="Baking 1">
    <img src="/images/cookies1.png" alt="Baking 2">
    <img src="/images/varietygoods1.png" alt="Baking 3">
    <!-- <img src="/images/gallery4.jpg" alt="Baking 4"> -->
  </div>
</Layout>
