---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>The Sleepy Pig</h1>
  <h4>Hello! My name is Claire and this is my small home bakery ♡</h4>
  <a href="https://www.instagram.com/sleepypigco">🔗 Message me on Instagram @SleepyPigCo for orders •◡•</a> <br>
  <a href="/aboutme">About me and The Sleepy Pig</a> <br>
  <br>
  <hr class="section-divider" /> <!-- Horizontal line -->

  <section class="menu-container">
    <h2>Menu</h2>
    <p>Visit the subheadings for more photos and info! ^-^</p>

    <section class="menu-section">
      <h3><a href="https://www.notion.so/CAKES-192d7c2515a480bba218f42287ac68f5?pvs=21">Cakes</a></h3>
      <ul>
        <li>Matcha</li>
        <li>Strawberry Shortcake</li>
        <li>Earl Grey & Lavender</li>
        <li>Red Velvet</li>
        <li>Tiramisu</li>
        <li>Chocolate</li>
        <li>Vanilla</li>
      </ul>
      <img src="/images/cake1.png" alt="Cake Image">
      <aside class="pricing">
        <h3>CAKE PRICING</h3>
        <table>
          <tr><td>8-inch heart cake</td><td>$120</td></tr>
          <tr><td>8-inch round cake</td><td>$110</td></tr>
          <tr><td>6-inch heart cake</td><td>$80</td></tr>
          <tr><td>6-inch round cake</td><td>$75</td></tr>
        </table>
      </aside>
    </section>

    <section class="menu-section">
      <h3><a href="https://www.notion.so/BREADS-192d7c2515a480b7b2d8c1b3352bbefe?pvs=21">BREADS</a></h3>
      <ul>
        <li>Classic Banana Bread</li>
        <li>Nutella Banana Bread</li>
      </ul>
      <img src="/images/breads.jpeg" alt="Breads Image">
    </section>

    <section class="menu-section">
      <h3><a href="https://www.notion.so/COOKIES-192d7c2515a48032b657e20544858f58?pvs=21">COOKIES</a></h3>
      <ul>
        <li>Matcha Checkerboard</li>
        <li>Oatmeal Chocolate Chip</li>
        <li>Oatmeal Cranberry</li>
      </ul>
      <img src="/images/cookies1.png" alt="Cookies Image">
    </section>

    <section class="menu-section">
      <h3><a href="https://www.notion.so/OTHER-GOODIES-192d7c2515a480569a72fc2b83013362?pvs=21">OTHER GOODIES</a></h3>
      <ul>
        <li>Lemon Bars</li>
        <li>Matcha Blondies</li>
      </ul>
      <img src="/images/varietygoods1.png" alt="Other Goodies Image">
    </section>
  </section>
</Layout>
