---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<Header />
<h1>Welcome to sleepy pig</h1>
<p>Delicious homemade treats made with love.</p>
<p>
<a href="/products">View my goods</a>
</p>
<p>
<a href="/gallery">View things ive made</a>
</p>
<a href="https://www.instagram.com/sleepypigco">my insta</a>
<Footer />
