---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<Header />
<h1>Welcome to My Baking Shop!</h1>
<p>Delicious homemade treats made with love.</p>
<a href="/products">View Our Products</a>
<Footer />
