---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Menu</h1>
  <div class="gallery">
    <a href="/products/cakes"><img src="/images/cake1.png" alt="Cakes"><p>Cakes</p></a>
    <a href="/products/cookies"><img src="/images/cookies1.png" alt="Cookies"><p>Cookies</p></a>
    <a href="/products/varietygoods"><img src="/images/varietygoods1.png" alt="Variety Goods"><p>Variety Goods</p></a>
  </div>
</Layout>
