---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<Header />
<h1>Our Products</h1>
<ul>
  <li><a href="/products/cakes">Cakes</a></li>
  <li><a href="/products/cookies">Cookies</a></li>
  <li><a href="/products/varietygoods">Variety Goods</a></li>
</ul>
<Footer />
