---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---
<Header />
<h1>Cakes</h1>
<p>Our delicious cakes:</p>
<ul>
  <li>Chocolate Cake - $20</li>
  <li>Vanilla Cake - $18</li>
  <li>Red Velvet Cake - $22</li>
</ul>
<Footer />
