---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>The Sleepy Pig</h1>
  <h4>Hello! My name is Claire and this is my small home bakery ♡</h4>
  <a href="https://www.instagram.com/sleepypigco">🔗<b>Message me</b> on Instagram @SleepyPigCo for orders •◡•</a> <br>
  <br>
  <hr class="section-divider" /> <!-- Horizontal line -->

  <section class="menu-container">
    <h2>Menu</h2>
    <p>Visit the subheadings for more photos and info! ^-^</p>

    <section class="menu-section">
      <div class="menu-text">
        <h3>Cakes</h3>
        <ul>
          <li>Matcha</li>
          <li>Strawberry Shortcake</li>
          <li>Earl Grey & Lavender</li>
          <li>Red Velvet</li>
          <li>Tiramisu</li>
          <li>Chocolate</li>
          <li>Vanilla</li>
        </ul>
        <aside class="pricing">
          <h3>CAKE PRICING</h3>
          <table>
            <tr><td>8-inch heart cake</td><td>$120</td></tr>
            <tr><td>8-inch round cake</td><td>$110</td></tr>
            <tr><td>6-inch heart cake</td><td>$80</td></tr>
            <tr><td>6-inch round cake</td><td>$75</td></tr>
          </table>
        </aside>
      </div>
      <img src="/images/cake1.png" alt="Cake Image">
    </section>

    <section class="menu-section">
      <div class="menu-text">
        <h3>Breads</h3>
        <ul>
          <li>Classic Banana Bread</li>
          <li>Nutella Banana Bread</li>
        </ul>
      </div>
      <img src="/images/breads1.png" alt="Breads Image">
    </section>

    <section class="menu-section">
      <div class="menu-text">
        <h3>Cookies</h3>
        <ul>
          <li>Matcha Checkerboard</li>
          <li>Oatmeal Chocolate Chip</li>
          <li>Oatmeal Cranberry</li>
        </ul>
      </div>
      <img src="/images/cookies1.png" alt="Cookies Image">
    </section>

    <section class="menu-section">
      <div class="menu-text">
        <h3>Other goodies</h3>
        <ul>
          <li>Lemon Bars</li>
          <li>Matcha Blondies</li>
        </ul>
      </div>
      <img src="/images/varietygoods1.png" alt="Other Goodies Image">
    </section>
  </section>

</Layout>
