---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---
<Header />
<h1>Cookies</h1>
<p>Freshly baked cookies:</p>
<ul>
  <li>Oatmeal Cookies - $10</li>
  <li>Chocolate Chip Cookies - $12</li>
  <li>Peanut Butter Cookies - $11</li>
</ul>
<Footer />
